@model Doctor

<h1>Perfil Doctor</h1>

<ul class="list-group">
    <li class="list-group-item">@Model.DoctorNo</li>
    <li class="list-group-item">@Model.Apellido</li>
    <li class="list-group-item">@Model.Especialidad</li>
    <li class="list-group-item">@Model.Salario</li>
    <li class="list-group-item">@Model.HospitalCod</li>
</ul>